.Circulars-batchesNav {
    display: flex;
    justify-content: space-between;
    margin: 2em 2em 2em;
  }
  
  .Circulars-batchTitle {
    font-family: "poppins", sans-serif;
  }
  
  .Circulars-batchSearch {
    margin: 10px;
    padding: 0;
  }
  
  .Circulars-batchBtn {
    width: 20%;
    height: 40px;
    background: #fff;
    color: #000000;
    border: 2px solid #939393;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  
  .Circulars-batchIcon {
    font-size: 27px;
    margin-left: 0.6em;
    color: #000000;
  }
  
  .Circulars-searchIcon {
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    color: #939393;
    margin-left: 2em;
    margin-top: 0.8em;
  }
  
  #Circulars-search {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #939393;
    margin-left: 2em;
    padding-left: 3em;
  }
  
  .Circulars-FunnelIcon {
    font-size: 30px;
    margin-left: 10px;
  }
  
  .Circulars-tableContainer {
    margin-top: 2em;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    height: 200px;
  }
  
  thead {
    background-color: #ffcaea;
    justify-content: center;
    position: sticky;
    top: 0;
  }
  
  tbody {
    background-color: #ffffff;
    justify-content: center;
  }
  
  th {
    font-size: 20px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #a2a2a2;
    border-top: 1px solid #a2a2a2;
  }
  
  .Circulars-tdata {
    font-size: 20px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #a2a2a2;
    border-top: 1px solid #a2a2a2;
  }
  
  .Circulars-tdata a {
    text-decoration: none;
    color: #f562ba;
  }
  
  .Circulars-tdata .tbtn {
    display: flex;
    padding: 0.4em 0.6em 0 0.6em;
    background: #ffcaea;
    border: none;
    outline: none;
    border-radius: 20px;
  }
  
  .Circulars-link {
    background: #ffcaea;
    padding: 0.3em 1em;
    border-radius: 20px;
  }
  
  /* Media Query for responsive design */
  @media (max-width: 1066px) {
    .Circulars-batchBtn {
      font-size: 1em;
    }
  }

    /* Media Query for responsive design */
    @media (max-width: 810px) {
        .Circulars-batchBtn {
            width: 25%;
        }
    }

    @media (max-width: 687px) {
        .Circulars-batchBtn {
            width: 30%;
        }
        #Circulars-search {
            width: 70%;
        }
    }


    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    
    .modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      position: relative;
    }
    
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer;
    }
    
    .modal-image {
      max-width: 100%;
      height: auto;
    }
    