/* General Styles */
.board-containers {
  width: 100%;
  margin: auto;
  margin-top: 5vh;
  text-align: center;

  font-family: Arial, sans-serif;
}

.header h3 {
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #6a11cb !important;
}
/* Specific Header Styling */
.black-text {
  color: black;
  font-style: normal;
}

.green-text {
  color: #6a11cb; /* Green color */
  font-style: italic;
}

.header p {
  color: gray;
  font-size: 14px;
}

/* Skill Cards */
.options-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
}

.skill-card {
  width: 200px;
  /* height: 250px; */
  /* margin: 0 10px; */
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-card.selected {
  border-color: #8eb696;
  height: 200px;
  background-color: #6a11cb;
}

.skill-card h4 {
  /* margin-top: 10px; */
  color: #333;
}

.skill-icon {
  width: 60px;
  height: 60px;
  padding-bottom: 10px!important;
  /* background-color: #d1e4ff; */
  border-radius: 50%;
}

/* Navigation Buttons */
.navigation {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.back-btn,
.next-btn {
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  /* padding */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  /* width: 20vw; */
}

.back-btn {
  background-color: #e0e0e0;
}

.next-btn {
  background-color: #6a11cb;
  color: white;
}

/* Progress Bar */
.progressBar {
  width: 60%;
  background-color: #e0e0e0;
  height: 8px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #6a11cb;
}

/* Step Info */
.step-info {
  font-size: 12px;
  color: gray;
}

.skill-card {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.skill-card.selected {
  border: 2px solid #47ff60;
  background-color: #e6ffe6;
  font-weight: bold;
}

/* Loader Styles */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-container p {
  margin-top: 15px;
  color: #555;
  font-size: 16px;
}
