/* General Styles */
.duration-container {
  display: flex;

  flex-direction: column;
  justify-content: center; /* Vertically center */
  align-items: center; /* Horizontally center */
  height: 100vh; /* Take full viewport height */
  font-family: Arial, sans-serif;
  /* margin-top: 30vh; */
}

.header {
  text-align: center;
  margin-top: 10vh;
}

.total-amount {
  text-align: center;
  margin-top: 10vh;
}

.header h3 {
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #00c897;
}

/* Specific Header Styling */
.black-text {
  color: black;
  font-style: normal;
}

.green-text {
  color: #00c897; /* Green color */
  font-style: italic;
}

.header p {
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Skill Cards */
.options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Wrap cards if they overflow */
  gap: 20px; /* Add space between cards */
  margin: 20px 0;
  /* position: absolute; */
}

.skill-card {
  width: 200px;
  height: 150px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill-card.selected {
  border-color: #8eb696;
  background-color: #f5f9ff;
}

.skill-card h4 {
  margin-top: 10px;
  color: #333;
}

.skill-icon {
  width: 60px;
  height: 60px;
  background-color: #d1e4ff;
  border-radius: 50%;
}

/* Navigation Buttons */
.navigation {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add space between buttons */
  margin: 20px 0;
}

.back-btn,
.next-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.back-btn {
  background-color: #e0e0e0;
}

.next-btn {
  background-color: #00c897;
  color: white;
}

/* Progress Bar */
.progress-bar {
  width: 60%;
  background-color: #e0e0e0;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

.progress {
  height: 100%;
  background-color: #00c897;
}

/* Step Info */
.step-info {
  font-size: 12px;
  color: gray;
  text-align: center;
}

.price {
  color: #00c897;
  font-size: 21px;
  /* position: absolute; */
  bottom: 20px;
  margin-top: 10px;
}

.price-2{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin: auto;
  color: #00c897;
}