.features-section {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(360deg, #63dabc41 0%, #ffffff 80%);
}

.section-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  font-family: "Nunito", serif;
}

.section-description {
  font-size: 1rem;
  color: #666;
  font-family: "Nunito", serif;

  margin-bottom: 40px;
  font-family: "Nunito", serif;
}

.features-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.features-container .select-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.features-container .select-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.feature-box {
  flex: 1 1 calc(25% - 20px); /* Four equal columns */
  /* max-width: 25vw; Adjust max width for responsiveness */
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.feature-box:hover {
  box-shadow: 0 4px 10px #00c897;
}

.feature-number {
  font-size: 3rem;
  font-weight: bold;
  color: #00c897;
  margin-bottom: 10px;
}

.feature-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: "Nunito", serif;
}

.feature-description {
  font-size: 1.2rem;
  color: #777;
  line-height: 1.5;
  font-family: "Nunito", serif;
}
