.Query-batchesNav {
    display: flex;
    justify-content: space-between;
    margin: 2em 2em 2em;
  }
  
  .Query-batchTitle {
    font-family: "poppins", sans-serif;
  }
  
  .Query-batchSearch {
    margin: 10px;
    padding: 0;
  }
  
  .Query-searchIcon {
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    color: #939393;
    margin-left: 2em;
    margin-top: 0.8em;
  }
  
  #Query-search {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #939393;
    margin-left: 2em;
    padding-left: 3em;
  }
  
  .Query-FunnelIcon {
    font-size: 30px;
    margin-left: 10px;
  }
  
  .Query-tableContainer {
    margin-top: 2em;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    height: 200px;
  }
  
  thead {
    background-color: #ffcaea;
    justify-content: center;
    position: sticky;
    top: 0;
  }
  
  tbody {
    background-color: #ffffff;
    justify-content: center;
  }
  
  th {
    font-size: 20px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #a2a2a2;
    border-top: 1px solid #a2a2a2;
  }
  
  .Query-tdata {
    font-size: 20px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #a2a2a2;
    border-top: 1px solid #a2a2a2;
  }
  
  .Query-tdata a {
    text-decoration: none;
    color: #f562ba;
  }
  
  .Query-tdata .tbtn {
    display: flex;
    padding: 0.4em 0.6em 0 0.6em;
    background: #ffcaea;
    border: none;
    outline: none;
    border-radius: 20px;
  }
  
  .Query-link {
    background: #ffcaea;
    padding: 0.3em 1em;
    border-radius: 20px;
  }
  
  /* Media Query for responsive design */
  @media (max-width: 1066px) {
    .Query-batchBtn {
      font-size: 1em;
    }
  }

    /* Media Query for responsive design */
    @media (max-width: 810px) {
        .Query-batchBtn {
            width: 25%;
        }
        .Query-batchIcon {
            font-size: 22px;
        }
    }

    @media (max-width: 687px) {
        .Query-batchBtn {
            width: 30%;
        }
        #Query-search {
            width: 70%;
        }
    }