.signup-container {
  display: flex;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background: #f9fafb;
}

.form-section {
  flex: 1;
  padding: 4rem;
  display: flex;

  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-heading h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 8vh;
  margin-left: 100px;
}

.signup-form {
  margin-top: 2rem;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.signup-form .form-group {
  margin-bottom: 1.5rem;
}

.signup-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.signup-form input,
.signup-form .ant-picker,
.signup-form .ant-radio-group {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.confirm-btn {
  width: 100%;
  padding: 0.8rem;
  background: #00c897;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.signup-footer {
  margin-top: 2rem;
  text-align: center;
}

.signup-footer a {
  color: #007bff;
  text-decoration: none;
}

.image-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;

  /* Gradient Background */
  background: linear-gradient(
    to right,
    #c8fcff,
    #00c897
  ); /* Replace with exact color stops */
  backdrop-filter: blur(15px); /* Glass effect */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  border-radius: 15px; /* Rounded corners for smooth look */
}

.image-section img {
  max-width: 80%;
  margin-bottom: 2rem;
}

.image-section h2 {
  font-size: 1.8rem;
  color: #ffffff;
  font-family: "Nunito", serif;
  font-size: 48px;
  font-weight: 800;
}

.image-section p {
  margin-top: 1rem;
  color: #555;
  /* background: #f0f4ff; */
}

.start-academy-btn {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
