.why-section {
  padding: 50px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.why-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.why-heading::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #ff0080;
  margin: 10px auto;
}

.why-features {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.feature-item {
  text-align: center;
  width: 22%;

}
.feature-icon{
  width: 50px;
  height: 50px;
}
.feature-icon1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 14px;
  color: #666;
}

.highlight-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 50px;
  margin-top: 50px;
  border-radius: 12px;
}

.highlight-content {
  line-height: 1.6;
}

.highlight-content h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.highlight-subtext {
  font-size: 16px;
  font-style: italic;
  color: #666;
}

.highlight-description {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.highlight-button {
  background-color: #f94874;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  width: 230px;
}

.highlight-button:hover {
  background-color: #e60073;
}

.highlight-image img {
  width: 430px;
  border-radius: 12px;
}

@media (max-width: 1200px) {
  .why-features {
    gap: 20px;
  }

  .feature-item {
    width: 24%;
  }

  .highlight-section {
    flex-direction: column;
    padding: 40px;
  }

  .highlight-image img {
    width: 380px;
  }
}

@media (max-width: 768px) {
  .why-features {
    flex-direction: column;
    align-items: center;
  }

  .feature-item {
    width: 80%;
    margin-bottom: 20px;
  }

  .highlight-section {
    flex-direction: column;
    padding: 30px;
  }

  .highlight-content h2 {
    font-size: 24px;
  }

  .highlight-description {
    font-size: 13px;
  }

  .highlight-image img {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .why-section {
    width: 100%;
    padding: 20px;
  }

  .why-heading {
    font-size: 28px;
  }

  .highlight-content h2 {
    font-size: 20px;
  }

  .feature-item {
    width: 100%;
  }

  .highlight-section {
    padding: 20px;
  }

  .highlight-description,
  .highlight-subtext {
    font-size: 12px;
  }

  .highlight-button {
    font-size: 14px;
    width: 200px;
  }

  .highlight-image img {
    width: 250px;
  }
}
