.CreateCircular-formContainer {
    padding: 20px;
    margin: auto;
  }
  
  .CreateCircular-batchesNav {
    display: flex;
    justify-content: space-between;
    margin: 2em 2em 2em;
  }
  
  .CreateCircular-batchTitle {
    font-family: "poppins", sans-serif;
  }
  
  .CreateCircular-Title {
    margin-right: 4em;
  }

  .CreateCircular-batchBtn {
    width: 20%;
    height: 40px;
    background: #fff;
    color: #000000;
    border: 2px solid #939393;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  
  
  .CreateCircular-circularForm {
    display: flex;
    flex-direction: column;
  }
  
  .CreateCircular-formGroup {
    margin-bottom: 1em;
  }

  .CreateCircular-Title, .CreateCircular-Description, .CreateCircular-sendTo, .CreateCircular-ProfileImage {
    margin-right: 4em;
  }

  .CreateCircular-formInput {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #939393;
    border-radius: 10px;
    color: #939393;
  }
  
  .CreateCircular-formSubmitButton {
    background-color: #ff007b;
    width: 20%;
    float: right;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5em 0 0 70em;
  }
  
  #CreateCircular-ProfileImage {
    display: block;
    width: 100%;
    margin: 0.5em auto;
    padding: 0.5em;
    border: 2px solid #939393;
    border-radius: 10px;
    color: #939393;
    font-size: 1em;
    text-align: left;
    cursor: pointer;
  }
  
  .CreateCircular-formSubmitButton:hover {
    background-color: #e6006b;
  }
  
  /* Media Query for responsive design */
  @media (max-width: 1066px) {
    .CreateCircular-batchBtn {
      font-size: 1em;
    }
  }
  
  @media (max-width: 1200px) {
    .CreateCircular-formSubmitButton {
      margin-left: 65em;
    }
  }
  
  @media (max-width: 1130px) {
    .CreateCircular-formSubmitButton {
      margin-left: 60em;
    }
  }

  @media (max-width: 1030px) {
    .CreateCircular-formSubmitButton {
      margin-left: 55em;
    }
  }

  @media (max-width: 950px) {
    .CreateCircular-formSubmitButton {
      margin-left: 50em;
    }
  }

  @media (max-width: 810px) {
    .CreateCircular-batchBtn {
      width: 25%;
    }
  }
  
  @media (max-width: 687px) {
    .CreateCircular-batchBtn {
      width: 30%;
    }
  }
  