*{
    
    font-family: poppins;
    /* background-color: white;  */
}

  :where(.css-dev-only-do-not-override-apn68).ant-modal .ant-modal-content {

    padding: unset !important;
  }

  .ant-form {
    padding: 20px; /* Add padding to the form */
  }