.Courses {
  margin-left: 50px;
}

.Coursesbackground {
  background-color: rgb(255, 255, 255);
  width: 60%;
  margin-left: 220px;
  margin-top: -60px;
  border-radius: 20px;
  border: 1px solid black;
}

.slick-dots {
  bottom: 23px;
}
